.App {
  text-align: center;
}
body {
  margin: 0;
  font-size: 1rem;
  font-weight: 1.5;
  line-height: 1.5;
  color: #292b2c;
  background-color: #fff;
}
.containerStyle {
  display: "grid";
  grid-template-columns: "1fr 8fr";
  grid-gap: "10px";
  height: "100%",
};
.span {
  color: aquamarine;
}
.mainStyle {
  padding: "20px";
  height: "100vh";
};

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
